@using TicketShopMVC.Models
@model IEnumerable<Ticket>
@{
    User user = (User)Session["user"];
    if (user == null)
    {
        ViewBag.Title = "Not Found";
        <h3 style="color:darkgray;text-align:center">Page not found</h3>
        <h4 style="color:darkgray;text-align:center">We can't seem to find the page you're looking for</h4>
        <h5 style="text-align:center">Go to <a href="/Home/Index">Home Page</a></h5>
    }
    else
    {
        DateTime minDate = Model.Min(t => t.DateAndTime);
        DateTime maxDate = Model.Max(t => t.DateAndTime);

        string[] tokensMin = minDate.ToString().Split('/');
        string dayMin = tokensMin[1];
        string monthMin = tokensMin[0];
        string yearMin = tokensMin[2].Split(' ')[0];
        string hoursMin = tokensMin[2].Split(' ')[1].Split(':')[0];
        string minutesMin = tokensMin[2].Split(' ')[1].Split(':')[1];

        string minDateS = $"{yearMin}-{monthMin}-{dayMin}T{hoursMin}:{minutesMin}";

        string[] tokensMax = maxDate.ToString().Split('/');
        string dayMax = tokensMax[1];
        string monthMax = tokensMax[0];
        string yearMax = tokensMax[2].Split(' ')[0];
        string hoursMax = tokensMax[2].Split(' ')[1].Split(':')[0];
        string minutesMax = tokensMax[2].Split(' ')[1].Split(':')[1];

        string maxDateS = $"{yearMax}-{monthMax}-{dayMax}T{hoursMax}:{minutesMax}";

        ViewBag.Title = "ShowTickets";
        <h4>Welcome back, @user.Name</h4>
        <h2>All Tickets</h2>

        <table width="1000">
            @if (user.Role.Equals(Role.CUSTOMER))
            {
                <tr>
                    <td colspan="2">
                        <form action="~/Profile/Search" method="get">
                            <table width="770">
                                <tr>
                                    <td style="color:dimgray;font-family:Ebrima">Name</td>
                                    <td style="color:dimgray;font-family:Ebrima">Price from</td>
                                    <td style="color:dimgray;font-family:Ebrima">Price to</td>
                                    <td style="color:dimgray;font-family:Ebrima">Date from</td>
                                    <td style="color:dimgray;font-family:Ebrima">Date to</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input style="width:120px" type="text" name="name" />
                                    </td>
                                    <td>
                                        <input style="width:80px" type="number" name="priceFrom" />
                                    </td>
                                    <td>
                                        <input style="width:80px" type="number" name="priceTo" />
                                    </td>
                                    <td>
                                        <input style="width:200px" type="datetime-local" name="dateFrom" value="@minDateS" />
                                    </td>
                                    <td>
                                        <input style="width:200px" type="datetime-local" name="dateTo" value="@maxDateS" />
                                    </td>
                                    <td>
                                        <input type="image" name="submit" src="~/Files/search1.png" border="0" alt="Submit" style="width:30px" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            }

                <tr>
                    <td width="800">
                        <table width="800" frame="hsides">
                            <tr style="background-color:antiquewhite">
                                <td>id</td>
                                <td>manifestation</td>
                                <td>date</td>
                                <td>price</td>
                                <td>customer</td>
                                <td>status</td>
                                <td>type</td>
                            </tr>

                            @foreach (Ticket item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.ReservedFor.Name</td>
                                    <td>@item.DateAndTime.ToString("dd/MM/yyyy hh:mm tt")</td>
                                    <td>@item.Price</td>
                                    <td>
                                        @item.Customer.Name
                                        @item.Customer.Lastname
                                    </td>
                                    <td>@item.Status</td>
                                    <td>@item.Type</td>
                                </tr>
                            }

                        </table>
                    </td>
                    @if (user.Role.Equals(Role.CUSTOMER))
                    {
                        <td valign="top" width="200">

                            <table width="300" align="center" frame="void" style="border:thin,solid;display:inline-block;background-color:aliceblue;height:auto">
                                <tr style="text-align:center">
                                    <td>
                                        <b>Show:</b><br />
                                        <form action="~/Profile/Filter" method="get">
                                            <table width="300">
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="vip" /><label for="vip"><b>Vip</b></label>
                                                        <input type="checkbox" name="regular" /><label for="regular"><b>Regular</b></label>
                                                        <input type="checkbox" name="fanPit" /><label for="fanPit"><b>Fan pit</b></label><br />
                                                        <input type="checkbox" name="reserved" /><label for="reserved"><b>Show reserved tickets</b></label><br />
                                                        <input type="checkbox" name="canceled" /><label for="canceled"><b>Show canceled tickets</b></label><br />
                                                        <input style="text-align:center" type="submit" value="FILTER" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                        <br />
                                        <form action="~/Profile/Reset" method="get">
                                            <input type="submit" value="Reset" />
                                        </form>
                                    </td>
                                </tr>
                                <tr height="35">
                                    <td><b>Sort by:</b></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsExpensiveFirst">Price High To Low</a></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsCheapFirst">Price Low To High</a></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsNameAsc">Name Ascending</a></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsNameDesc">Name Descending</a></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsDateAsc">Date Ascending</a></td>
                                </tr>
                                <tr height="25">
                                    <td style="font-family:Ebrima"><a href="~/Profile/SortTicketsDateDesc">Date Descending</a></td>
                                </tr>
                            </table>
                        </td>
                    }

                </tr>

        </table>
       
    }

}



